<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Orange HRM POM Framework with Extent report">
	<test name="Orange HRM Automation" preserve-order="true">
		<classes>
			<class name="com.qa.automation.testCases.TestSetup" />
			<class name="com.qa.automation.testCases.OrangeHRMLoginTest" />
			<class name="com.qa.automation.testCases.OrangeHrmAdminTest" />
		</classes>
	</test>
</suite>
 